# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-e0zxq.eu-west-3.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=XQY2KDPDRELU22TC
sasl.password=3v4PNGT/K8WifAHR6u+aDVipYecTXog04ZM3IaEA0Mk4OaTE/uhxVXzDDryrqw6g

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-4091c1fc-d1f8-432f-a7ab-0828770a3cc1
