# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-921jm.us-east-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=LK4HETCCSQCPSEJJ
sasl.password=g+fQkDT3XjXUkKYM5G4LOKJdLEK+VCM8HZZh7rMamqfh+mZsjtQ3s1FHcwS1fyxh

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-f9b0ca73-8341-492a-8c30-462652194040
